@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --box-shadow:rgb(0, 0, 0);
  --background:linear-gradient(to top , #fa709a 0%, #fee140 100%);
  --filter:drop-shadow(0px 0px 6px blue);
  --color-titulos:#4A4A4A;
  --color-texto:#000;
  --color-textoboton:#000;
  --color-fondoboton:linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  --fuente-title:"Cinzel", serif;
  --fuente-texto:"Open Sans", sans-serif;
  --fuente-boton:"Poppins", sans-serif;
}

body{
    background-image: url(img/FONDO_PAGINA.jpg);
    background-size: cover;
    background-position: center; 
}

.card{
    width: 300px;
    margin: 20px;
    display: block;
    box-shadow: 0px 4px 8px var(--box-shadow);
    border-radius: 15px;
    padding: 20px;
    background-image: var(--background);
    display: inline-block;
}

.img{
    width: 100%;
    margin: 0 auto;
    object-fit: contain; 
    display: block;
    padding: 0 0 75px;
    margin-top: 30px;
    max-height: 350px;
    filter: var(--filter);
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 1030px;
    
}
.title{
    font-size: 25px;
    text-align: center;
    color: var(--color-titulos) ;
    font-family: var(--fuente-title); 
}

.texto{
    font-size: 15px;
    margin: 15px;
    padding: 0 15px 15px ;
    color: var(--color-texto);
    font-family: var(--fuente-texto);
    text-align: center;
}

.boton{
    width: 100px;
    display: block;
    color: var(--color-textoboton);
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    background-image: var(--color-fondoboton);
    font-family: var();
    border-radius: 5px;
}